

#block-views-block-businesses-homepage-block{
	div[data-history-node-id="40"]{
		.field--name-node-title{
			background-color: @brown_color;
			padding-left:5px;
			h2{
			    padding-top: 10px;
				padding-bottom: 10px;
				text-transform: uppercase;
				@media (max-width: 768px){
					padding-top: 5px;
					padding-bottom: 5px;
				}
			}
			a{
				color:#fff;
				text-decoration: none;
				display:block;
			}
		}
	}
	.views-row{
		.make-md-column(6);
		.image-and-title-wrapper{
			position:relative;
			.field--name-node-title{
				@media (max-width: 768px){
					line-height: 1.2em;
				}
				@media (min-width: 992px){
					position: absolute;
				    bottom: 40px;
				    z-index: 1;
				    width:100%;
				    background-color: fade(@brown_color,80%);
				}
				padding-left: 5px;
				background-color: @brown_color;
			    span{
			    	a{
				    	color:#fff;
				    	text-decoration: none;
			    	}
			    }
			}	
		}
		
	}
	.views-row:nth-child(2n){
		padding-right:0;
		@media (max-width: 991px){
			padding-left:0;
		}
	}
	.views-row:nth-child(2n+1){
		padding-left:0;
		@media (max-width: 991px){
			padding-right:0;
		}
	}
}