@red_color: #BD1018;
@article_color: #DBD9EC;
@number_color: #2D2E91;

#block-views-block-estadisticas-bottom{
	.make-sm-column(6);
	.make-md-column(5);
	padding-left:0;
	@media (max-width: 767px){
		padding-right:0;
	}
	.block-title{
		background-color: @red_color;
		color:#fff;
	    padding-top: 5px;
    	padding-bottom: 5px;
	}
	.node--type-estadistica{
		background-color: @article_color;
		@media (min-width: 992px){    
			width: 23.3%;
			float:left;
		}
		@media (max-width: 991px){    
			width: 48.8%;
			float:left;
		}
		.field--name-field-valor{
			color: @number_color;
		    font-weight: 600;
		    font-size: 20px;
		    text-align: center;
		    margin-top: 20px;
		    @media (max-width: 991px){ 
		    	font-size: 24px;   
		    }
		}
		.field--name-node-title{
			text-align: center;
			h2{
				font-weight: normal;
				
				@media (min-width: 768px){
					min-height: 20px;
				    max-height: 20px;
				    margin-top: 14px;
				    font-size: 12px;
				}
				@media (min-width: 992px){    
			        min-height: 69.5px;
				    max-height: 69.5px;
				    font-size: 13px;
				    margin-top: 18px;
    			}
    			@media (min-width: 1200px){    
					min-height: 75px;
	    			max-height: 75px;
	    			font-size: 14px;
    				margin-top: 27px;
    			}
    			@media (max-width: 767px){    
					font-size:13px;
					min-height: 30px;
				    max-height: 30px;
				    margin-top: 8px;
    			}
			}
		}
	}
	.node--type-estadistica:not(:first-child){
		@media (min-width: 992px){    
			margin-left:8.5px;
		}
		@media (min-width: 1200px){    
			margin-left:10px;
		}
	}
	.node--type-estadistica:nth-child(n+3){
		@media (max-width: 991px){
			margin-top:8px;
		}
	}
	.node--type-estadistica:nth-child(2n){
		@media (max-width: 991px){
			margin-left:8px;
		}
		@media (max-width: 767px){
			margin-left:16px;
		}
		@media (max-width: 725px){
			margin-left:15px;
		}
		@media (max-width: 683px){
			margin-left:14px;
		}
		@media (max-width: 642px){
			margin-left:13px;
		}
		@media (max-width: 600px){
			margin-left:12px;
		}
		@media (max-width: 558px){
			margin-left:11px;
		}
		@media (max-width: 517px){
			margin-left:10px;
		}
		@media (max-width: 445px){
			margin-left:9px;
		}
		@media (max-width: 403px){
			margin-left:8px;
		}
		@media (max-width: 362px){
			margin-left:7px;
		}
		
	}
}