// Global styles
body {
  background-color: #FFF;
  padding: 0;
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.breadcrumb{
	display:none;
}

.view-node-created-date {
	font-size: 13px;
    margin: 20px 0 15px 0px;
    text-align: right;
    color: #79919d;
    display: block;
}
