.seccion-al-dia{
	.region-header{
		background-color: @red_color;
		h1{
			.h1-landing-title();
			.padding-title();
		}
	}

	.region-content{
		display: inline-block;
		.space-title-content();
	}

	#block-views-block-al-dia-landing-section-first-block{
		position: relative;
	    margin-bottom:5px;
		.title-and-body-wrapper{
			position: relative;
			width:100%;
			@media (min-width: 767px){
				position: absolute;
				bottom:50px;
			}
			.field--name-node-title{
				background-color: fade(@red_color,80%);
				.padding-title();
				@media (max-width: 768px){
					line-height: 1.42;
					background-color: @red_color;
				}
	    		h3 {
	    			font-weight: 600;
	    			line-height: 1.42;
	    			margin-top: 0;
				    margin-bottom: 0;		
	    			a{
	    				color:#fff;
		    			text-decoration: none;
	    			}
	    			@media (max-width: 768px){
						font-size:14px;
					}
	    		}	
			}
			.field--name-body{
				.summary-aldia();
				@media (max-width: 768px){
					display:none;
				}
			}	
			
		}
		.field--name-field-image{
			position:relative;
			z-index:0;
			img{
				width:100%;
			}
		}
	}

	#block-views-block-al-dia-landing-section-second-block{
		.views-row{
			text-align: justify;
	    .make-md-column(4);
	    .make-xs-column(12);
	    margin-bottom:5px;
	    .views-field-title {
	    	padding-left:15px;
				position:relative;
	    	span a{
					text-decoration: none;
					font-weight: 600;
					color:#000;
				}
			}
			.views-field-title::before {
		  		color: @red_color;
			  	content: "■";
			  	float:left;
			  	position:absolute;
			  	left:0px;
			}
			.views-field-body{
				padding-left:15px;
			}
		}
		.views-row:nth-child(3n+1){
			clear:left;
		}
		.views-row:nth-child(1){
			padding-left:0;
			@media (max-width: 991px){
				padding-right:0;
			}
		}
		.views-row:nth-child(2){
			padding-left:7.5px;
			padding-right:7.5px;
			@media (max-width: 991px){
				padding-right:0;
				padding-left:0;
			}
		}
		.views-row:nth-child(3){
			padding-right:0;
			@media (max-width: 991px){
				padding-left:0;
			}
		}
	}

	#block-views-block-al-dia-landing-section-third-block{
		.form-group{
			.view-content{
				list-style: none;
				padding: 0;
	  			margin: 0;
				.views-row{
					text-align: justify;
					margin-bottom: 10px;
					.make-md-column(4);
					.make-xs-column(12); 
	  				text-indent: -4.3px;
	  				color:#000;
	  				.views-field-title{
	  					span a{
	  						text-decoration: none;
	  						font-weight: 600;
	  						color:#000;
	  					}
	  				}
	  				.views-field-body{
	  					div p{
	  						text-indent: 0.1px;
	  					}
	  				}
				}
				.views-row::before {
			  		color: @red_color;
				  	content: "■";
				  	float:left;
				  	position:relative;
				  	left:-11px;
				}
				.views-row:nth-child(3n+1){
					clear:left;
				}

				.views-row:nth-child(3n-1){
					@media (min-width: 992px){
						padding-left: 22.5px;
		    			padding-right: 7.5px;
	    			}
				}
				.views-row:nth-child(3n){
					@media (min-width: 992px){
						padding-left: 30px;
	    				padding-right: 0;
	    			}
				}
			}
		}
	}
	#block-firstcontentadseccionaldia, #block-secondcontentadseccionaldia, #block-thirdcontentadseccionaldia{
		.landings-ad-section();
	}

	#block-vermasarticulosseccionaldia{
		.button-more-articles(@red_color;@red_color_hover);
	}	
}