.seccion-empresas{
	.region-header{
		background-color: @brown_color;
		h1{
			.padding-title();
			.h1-landing-title();
		}
	}
	
	#block-firstcontentadseccionempresas, #block-secondcontentadseccionempresas, #block-thirdcontentadseccionempresas{
		.landings-ad-section();
	}

	#block-vermasarticulosseccionempresas{
		.button-more-articles(@brown_color;@brown_color_hover);
	}

	#block-views-block-empresas-landing-section-first-block{
		.space-title-content();
		.views-field-title{
			a, a:visited{
				text-decoration: none;
				font-size: 22px;
				color: #000;
				font-weight:600;
			}
			a:hover, a:focus, a:active{
				color: @brown_color;
			}
		} 
		.views-field-field-subtitulo{
			color:#000;
			p{
				font-size:20px;
			}
		} 
		.views-field-field-url{
			margin-top:5px;
			a, a:visited{
				text-decoration: none;
				color:#000;
				font-size: 20px;
			}
			a:hover, a:focus, a:active{
				color: @brown_color;
			}
		}

		.views-field-field-image{
			img{
				margin: 0 auto;
			}
		}
	}

	#block-views-block-empresas-landing-section-second-block, #block-views-block-empresas-landing-third-block{
		.views-row{
			.make-md-column(4);
		    .make-xs-column(12);
			.views-field-title{
				a, a:visited{
					text-decoration: none;
					font-size: 18px;
					color: #000;
					font-weight:600;
					text-transform: uppercase;
				}
				a:hover, a:focus, a:active{
					color: @brown_color;
				}
			} 
			.views-field-field-subtitulo{
				color:#000;
				font-size: 17px;
				min-height: 50px;
				max-height:50px;
				height:50px;
				@media (max-width: 1100px){
					min-height: 60px;
					max-height:60px;
					height:60px;
				}
				@media (max-width: 991px){
					min-height: 0px;
					max-height:none;
					height:auto;
				}	
				p{
					font-size: 17px;
				}
			} 
			.views-field-field-url{
				margin-top:5px;
				a, a:visited{
					text-decoration: none;
					color:#000;
				}
				a:hover, a:focus, a:active{
					color: @brown_color;
				}
			}
			@media (max-width: 991px){
				margin-top:10px;
			}	
		}

		.views-row:nth-child(1){
			padding-left:0;
			@media (max-width: 991px){
				padding-right:0;
			}
		}
		.views-row:nth-child(2){
			padding-left:7.5px;
			padding-right:7.5px;
			@media (max-width: 991px){
				padding-right:0;
				padding-left:0;
			}
		}
		.views-row:nth-child(3){
			padding-right:0;
			@media (max-width: 991px){
				padding-left:0;
			}
		}
		
	}
}