.view-landing-section-carousels{
	.view-header{
		display:none;
	}
}

#block-firstcontentadseccionanalisis, #block-secondcontentadseccionanalisis, #block-thirdcontentadseccionanalisis, #block-fourthcontentadseccionanalisis, #block-fifthcontentadseccionanalisis{
	width:728px;
	height:90px;
	margin: 0 auto;
	background-color: #efefef;
	margin-top:10px;
	margin-bottom:10px;
	@media (max-width: 1042px){
		width:100%;

	}
}

#block-vermasarticulosseccionanalisis{
	text-align: center;
	.block-title{
		display: none;
	}
	.block-content--type-basic{
		background-color: @blue_color;
		padding-left:5px;
		p{
			margin-bottom:0;
		    padding-top: 10px;
			padding-bottom: 10px;
			text-transform: capitalize;
		}
		a{
			color:#fff;
			text-decoration: none;
			display:block;
		}
	}
}