header.container{
	width:100%;
	padding:0;
	background-color: transparent;
	&.stuck {
		position: fixed;
    	z-index: 100;
    	border-bottom: 3px solid #000;
    	border-top: 3px solid #000;
    	border-radius: 0;
    	@media (max-width: @screen-xs-max) {
    		background-color: rgba(265,265,265,0.95);
    	}
    	.navbar-header {
    		.region-navigation {
    			.logo.navbar-btn.pull-left {
    				display: none;
    			}
    		}
			#block-topblocklogomultiplica {
				position: absolute;
				z-index: 10;
				@media (min-width: @screen-sm-min) {
					top: 0;
				    right: 10px;
				    max-width: 20%;
				    .logo-container {
				    	max-width: 175px;
				    }
				    a.multiplica-logo {
				    	img {
			    		    max-width: 100%;
							margin-top: -14px;
				    	}
				    }
				}
				a.multiplica-logo {
					img {
						@media (max-width: @screen-xs-max) {
						    -webkit-animation-name: header-multiplica-animation-to-sticky; /* Safari 4.0 - 8.0 */
						    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
						    animation-name: header-multiplica-animation-to-sticky;
						    animation-duration: 1s;
						    width: 175px;
							float: left;
						}
					}
				}
			}
    	}
    	#navbar-collapse {
    		.region-navigation-collapsible {
    			#block-gestion-main-menu {
    				background-color: rgba(265,265,265,0.95);
    				@media (min-width: @screen-sm-min) {
					    -webkit-animation-name: header-animation-to-sticky; /* Safari 4.0 - 8.0 */
					    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
					    animation-name: header-animation-to-sticky;
					    animation-duration: 1s;
					}
    				ul.menu.nav.navbar-nav {
				    	@media (max-width: @screen-xs-max) {
				    		background-color: #000;
				    	}
				    	li:first-child {
				    		a {
				    			@media (min-width: @screen-sm-min) {
				    				color: #000;
				    				font-weight: bold;
    								font-size: 18px;
				    			}
				    		}
				    	}
    				}
    			}
    		}
    	}
	}
	&.stuck-removed {
		#block-gestion-main-menu {
			background-color: #000;
			@media (min-width: @screen-sm-min) {
				-webkit-animation-name: header-animation-to-normal; /* Safari 4.0 - 8.0 */
			    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
			    animation-name: header-animation-to-normal;
			    animation-duration: 1s;
			}
		}
		a.multiplica-logo {
			img {
				@media (max-width: @screen-xs-max) {
				    -webkit-animation-name: header-multiplica-animation-to-normal; /* Safari 4.0 - 8.0 */
				    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
				    animation-name: header-multiplica-animation-to-normal;
				    animation-duration: 1s;
				    width: 66.66666667%;
					float: right;
				}
			}
		}
	}
}
.navbar.container {
    max-width: 100%;
}
.navbar-default{
	border:none;
	background-color: #fff;
	nav {
		background-color: #000;
	}
	@media (min-width: 768px){
		padding:0;
	}
	.navbar-header{
		float:none;
		.container();
		@media (max-width: 1200px){
			width:100%;
			padding-left:30px;
			padding-right:30px;
		}
		@media (max-width: 480px){
			width:100%;
			padding-left:15px;
			padding-right:15px;
		}

		.navbar-toggle {
		    border-color: #000;
		    background-color: #000;
		    margin-right:0px;
		    .icon-bar {
			    background-color: #fff;
			}
		}
	}

	.navbar-collapse {
		@media (max-width: 767px){
			padding-left:0px;
			margin-right: 0px;
    		margin-left: 0px;
		}
		padding-left:0px;
		padding-right:0px;
		text-align: center;
		.navbar-nav > li{
			@media (min-width: 768px){
		      display: inline-block;
		      float: none;
		      vertical-align: top;
	      	}
	    }
	}
	
	.navbar-nav{
		width: 100%;
		background-color: transparent;
		text-transform: uppercase;
		float:none;
		position: relative;
	    margin: 0 auto;
	    @media (min-width: 1200px){
			.container();
		}
		@media (max-width: 767px){
			margin: 7.5px 0px;
		}
		>li{
			width:125px;
			cursor: pointer;
			@media (max-width: 767px){
				width:100%;
			}
			ul{
				background-color: #000;
				width:100%;
				border:none;
				min-width: 190px;	
				> li > a, > li:visited > a{
					color: #fff;
					background-color: #000;
				}
				li:first-child{
					@media (min-width: 768px){
						display: none;	
					}
				}
			}
		}
		>li:nth-child(1){
			width:auto;
			@media (min-width: 768px){
				position: absolute;	
				left:15px;
			}
			@media (min-width: 1200px){
				position: absolute;	
				left:0;
			}
			>a, >a:visited{
				color:#fff;	
			}
			>a:focus, >a:hover, >a:active{
				text-decoration: underline;
			}
		}
		>li:nth-child(3){
			>a, >a:visited{
				background-color: @red_color;
				color:#fff;	
			}
			>a:focus, >a:hover, >a:active{
				background-color: @red_color_hover;
				color:#fff;	
			}
			ul{
				> li:hover > a, > li:focus > a, > li:active > a{
					color: #fff;
					background-color: @red_color;
				}
			}
		}
		>li:nth-child(2){
			>a, >a:visited{
				background-color: @blue_color;
				color:#fff;	
			}
			>a:focus, >a:hover, >a:active{
				background-color: @blue_color_hover;
				color:#fff;	
			}
			ul{
				> li:hover > a, > li:focus > a, > li:active > a{
					color: #fff;
					background-color: @blue_color;
				}
			}
		}
		>li:nth-child(4){
			>a, >a:visited{
				background-color: @brown_color;	
				color:#fff;
			}
			>a:focus, >a:hover, >a:active{
				background-color: @brown_color_hover;
				color:#fff;	
			}
			ul{
				> li:hover > a, > li:focus > a, > li:active > a{
					color: #fff;
					background-color: @brown_color;
				}	
			}
		}
		.open{
			>a, >a:hover, >a:focus{
				background-color: #fff;
    			color: #000;
			} 
			.dropdown-menu{
				> li > a, > li:hover > a, > li:focus > a, > li:visited > a,  > li:active > a {
    				color: #fff;
				}
			}
		}
	}
}

//Animation for sticky header
/* Safari 4.0 - 8.0 */
@-webkit-keyframes header-animation-to-sticky {
    from {background-color: #000;}
    to {background-color: rgba(265,265,265,0.95);}
}

/* Standard syntax */
@keyframes header-animation-to-sticky {
    from {background-color: #000;}
    to {background-color: rgba(265,265,265,0.95);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes header-animation-to-normal {
    from {background-color: rgba(265,265,265,0.95);}
    to {background-color: #000;}
}

/* Standard syntax */
@keyframes header-animation-to-normal {
    from {background-color: rgba(265,265,265,0.95);}
    to {background-color: #000;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes header-ul-animation-to-normal {
    from {background-color: transparent;}
    to {background-color: #000;}
}

/* Standard syntax */
@keyframes header-ul-animation-to-normal {
    from {background-color: transparent;}
    to {background-color: #000;}
}
//mobile logic
/* Safari 4.0 - 8.0 */
@-webkit-keyframes header-multiplica-animation-to-sticky {
    from {
    	width: 66.66666667%;
    }
    to {
	    width: 175px;
    }
}

/* Standard syntax */
@keyframes header-multiplica-animation-to-sticky {
    from {
    	width: 66.66666667%;
    }
    to {
	    width: 175px;
    }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes header-multiplica-animation-to-normal {
    from {
    	width: 175px;
    }
    to {
    	width: 66.66666667%;
    }
}

/* Standard syntax */
@keyframes header-multiplica-animation-to-normal {
    from {
    	width: 175px;
    }
    to {
    	width: 66.66666667%;
    }
}
