.h2sidebar{
	text-align: center;
	background-color: black;
	text-transform: uppercase;
	padding: 2%;
	color: white;
	font-size: 5.4mm;
	a{
		color: white;
	}
	a:hover{
		text-decoration: none;
	}
}

.block-before-autor(){
	content: "■";
  	float:left;
  	position:relative;
  	left:-4px;
}

.h2-section-title(){
	margin-bottom:0;
    padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	@media (max-width: 768px){
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.anchor-section-title(){
	color:#fff;
	text-decoration: none;
	display:block;
}

.summary-slider(){
	background-color: #fff;
	color:#000;
	opacity:0.7;
	margin-top:5px;
	width: 50%;
	padding-left:10px;
}

.section-name-slider(@background-color){
	padding-left:5px;
	text-transform: uppercase;	
	background-color: @background-color;
}

.padding-title(){
	padding-left:5px;
}

.space-title-content(){
	margin-top:10px;
}
										