.h2sidebar{
	text-align: center;
	background-color: black;
	text-transform: uppercase;
	padding: 2%;
	color: white;
	font-size: 5.4mm;
	a{
		color: white;
	}
	a:hover{
		text-decoration: none;
	}
}

.block-before-autor(){
	content: "■";
  	float:left;
  	position:relative;
  	left:-4px;
}