.region-navigation{
	@media (max-width: 767px){
		.make-xs-column(10);
	}
	.navbar-brand{
		display:none;
	}
	a.logo{
		.make-xs-column(4);
		padding:0;
		img{
			@media (max-width: 767px){
				.make-xs-column(12);
			}
		}
	}
	#block-topblocklogomultiplica{
		.field--name-body{
			margin-top:20px;
		}
		a.multiplica-logo{
			img{
				@media (max-width: 767px){
					.make-xs-column(8);
					float:right;
				}
			}
		}
	}
	
}