.region-navigation{
	.navbar-brand{
		display:none;
	}
	#block-topblocklogomultiplica{
		.field--name-body{
			margin-top:20px;
		}
		a.multiplica-logo{
			img{
				@media (max-width: 767px){
					.make-xs-column(8);
					float:right;
				}
			}
		}
	}
}